*{
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box; 
    margin:0; 
    padding:0;
}

.container{
    width: 100vw;
}
  
header{
    position: fixed;
    width: 100%;
    z-index: 1;  
}
  
.nav-bar{
    position:relative;
    display:inline-block;
}
  
.menu-btn{
    padding: 10px;
    border: none;
    cursor:pointer;
} 
  
.bar{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}
  
/*Ícono de menú animado*/
.change #bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change #bar2 {
    opacity: 0;
}
  
.change #bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
  
.menu-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    z-index: 1; 
}
  
.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Roborto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
  
.menu-content a:hover {
    background-color: rgb(196, 58, 138);
    color: white;
}
  
/*Mostrar menu*/
  
.show {
    display:block;
}
  
  /*Scroll*/
header.abajo{
    background-color: #2a8c4a;
}
  
.abajo .menu-btn{
    background-color: #2a8c4a;
}
  
.abajo .bar{
    background-color: white;
}
  
  
/*FOTO Y PRESENTACIÓN*/
  
#inicio{
    text-align: center;
    background-color: #9bfab0;
    padding:90px;
}
  
.nombre{
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
}
  
#foto{
    border-radius: 50%;
    width: 60%;
  }
  
h2{
    margin-bottom: 10px;
}
  
.sobremi{
    margin: 1px;
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
}
  
.contact-btn{
    font-size: 40px;
    cursor:pointer;
    text-decoration: none;
    color: #0077b5;
}
  
.contact-btn:focus{
    color: black
}
  
  
/*SECCIONES*/
.subtitulo{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #2a8c4a;     
}
  
section{
    padding: 40px;
    height: auto;
    line-height: 1.5;
}
  
li{
    list-style: none;
}
  
#datos_personales{
    background-color: #d0fdd7;
}
  
i{
    padding:10px;
} 
  
#experiencia{
    background-color:#9bfab0;
}
  
.dato{
    font-weight: bold;    
}
  
.periodo {
    margin-right: 15px;
    font-style: italic;
}
  
/*Tree View*/
.caret{
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    margin-left: 80px;
}
  
.caret::before{
    content: "+";
    color:white;
    background-color:rgb(199, 74, 116);  
    width: 20px;
    height: 20px;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    margin-right: 2px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.1em;
}
  
.caret-down::before{
    content: "-";
    line-height: 1em;
}
  
.nested{
    display: none;
    margin: 10px 10px 10px 120px;
    padding: 5px 20px;
    background-color: rgb(248, 234, 208);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 14px;
    max-width: 300px;
    min-width: 200px;
}
  
.active{
    display:block;
}
/*FIN tree view*/
  
#formacion{
    background-color: #d0fdd7;
}
  
.lista li{
    margin-top: 10px;
    margin-bottom: 10px;
}
  
#habilidades{
    background-color:#9bfab0;
}
  
#habilidades ul{
    margin: 20px 30px 5px;
}
  
#habilidades li{
    list-style-type: disc;
    margin-left: 10px;
}
  
.subsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.hard_skills, .soft_skills{
    margin: 5px;
    max-width: 500px;
    min-width: 300px;
    min-height: 400px;
    background-color: rgb(248, 234, 208);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 10px;
}
  
.boton{
    background-color:rgb(196, 58, 138);
    padding: 10px;
    border-radius: 1rem;
    font-weight: bold;
    color: white;
    margin: 0px 30px;
}
  
.boton:hover{
    background-color: black;
    padding: 10px;
}
  
.porcentajes{
    display: none;
}
  
/*Ver más/Ver menos*/
.detalles{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.skill{
    background-color:rgb(53, 44, 44);
    padding:10px;
    margin: 10px;
    border-radius: 10px;
}
  
.skill_txt{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    width: 200px;
    color: white;
}
  
.externo{
    width: 100%;
    padding: 3px;    
    background-color: rgb(199, 74, 116);
    display:flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
  
.interno{
    height: 4px;
    background-color: white;
    border-radius: 10px;
}
  
/*Animación de barras de progreso*/
  
.hard_skills .skill:nth-child(1) .interno{
    animation-name: html-barra1;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
  
@keyframes html-barra1 {
    from{width: 0%;}
    to{width: 70%;}
}
  
.hard_skills .skill:nth-child(2) .interno{
    animation-name: html-barra2;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
  
@keyframes html-barra2 {
    from{width: 0%;}
    to{width: 60%;}
}
  
.hard_skills .skill:nth-child(3) .interno{
    animation-name: html-barra3;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
  
@keyframes html-barra3 {
    from{width: 0%;}
    to{width: 20%;}
}
  
.hard_skills .skill:nth-child(4) .interno{
    animation-name: html-barra4;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
  
@keyframes html-barra4 {
    from{width: 0%;}
    to{width: 20%;}
}
  
.hard_skills .skill:nth-child(5) .interno{
    animation-name: html-barra5;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
  
@keyframes html-barra5 {
    from{width: 0%;}
    to{width: 10%;}
}
/*Fin de animación*/
  
#form{
    background-color: #64c27b;
}
  
form{
    margin: auto;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}
  
#email{
    width: 300px;
}
  
/*--CONTACTO--*/
  
footer{    
    background-color:#2a8c4a;
    color: white;
    padding: 20px;
    text-align: center;
}

/*Para TABLET*/
  
@media (min-width:768px) and (max-width:1023px){
    .sobremi{
        margin: 20px;
        font-size: 16px;
    }
  
    #foto{
        width: 40%;
    }
} 
  
/*Para ESCRITORIO*/
  
@media (min-width:1024px){
    .menu-btn{
        display:none;
    }
  
    .nav-bar{
        display: flex;
        justify-content: center;    
    }
  
    .menu-content{
        display:flex;
        text-align: center;
        min-height: 50px;
        background-color: transparent;
    }
  
    .menu-content a{
        font-size: 15px;
        padding: 20px;
    }
    
    .abajo .menu-content{
        background-color: #2a8c4a;
    }
    
    .abajo .menu-content a{
        color:white;
    }
    
    #foto{
        width: 50%;
    }
  
    .sobremi{
        margin: 50px;
        font-size: 16px;
    }
  
    #inicio{
        display: grid;
        grid-template-columns: 30% 70%;
        align-items: center;
    }
  
    .subtitulo{
        margin-top: 20px;
    }
  
    #datos_personales, #formacion{
        height: 300px;
    }
  
    .subsection{
        flex-direction: row;
    }

    .barras{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
